Flask==0.9
Flask-OAuth==0.11
Flask-Cache==0.12
https://github.com/sbook/flask-mongoengine/tarball/master
Flask-Redis==0.0.3
redis==2.7.6
hiredis==0.1.1
recaptcha-client==1.0.6
wtforms-recaptcha==0.2.0
newrelic==1.13.1.31
gunicorn==17.5