<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>{% block title %}Ligado na CPI dos ônibus{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Kreon' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/reset.css" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/static/styles.css" type="text/css" />

    {% block css %}{% endblock %}

    <meta content="CPI dos ônibus no Rio - Assinatura" property="og:title" />
    <meta property="og:description" content="O rio de janerio quer a CPI dos ônibus - Assine já!" />
    <meta content="https://assinaturas-cpi-onibus.herokuapp.com/static/images/cpi.jpg" property="og:image" />
    <meta content="{{app_id}}" property="fb:app_id" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  </head>
  <body>
    <section class="container">
        {% block content %}{% endblock %}
    </section>
  {% block js_bottom %}{% endblock %}
  </body>
</html>
