{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="/static/index.css" type="text/css" />{% endblock %}

{% block content %}
<section id="content" class="content">
    <form id="assinar" method="POST" action="">
        <fieldset>
            <p><label for="name">Nome:</label><input id="name" class="name" type="text" name="name"></p>
            <p><label for="email">E-mail:</label><input id="email" class="email" type="text" name="email"></p>
            <p><input name="assinar" type="submit" value="Assinar"></p>
        </fieldset>
    </form>
    <h3>Ou</h3>
    <p><a href="/login/" id="fb-assine" class="fb-assine uibutton large confirm">Assine via facebook</a></p>
</section>
{% endblock%}

{% block js_bottom %}
    <script type="text/javascript" src="/static/index.js"></script>
{% endblock %}
