{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="/static/index.css" type="text/css" />{% endblock %}

{% block content %}
<section id="content" class="content">
    <form id="assinar" method="POST" action="">
        <fieldset>
            {% if msg %}
                <p class="mensagem">{{ msg }}</p>
            {% endif %}
            <p class="linha"><label class="label-form" for="name">Nome completo <small>*</small></label><input id="name" class="name campo-texto" type="text" name="name"></p>
            <p class="linha"><label class="label-form" for="email">E-mail <small>*</small></label><input id="email" class="email campo-texto" type="text" name="email"></p>
            <p class="linha"><label class="label-form" for="celular">Celular</label><input id="celular" class="celular campo-texto" type="text" name="celular"></p>
            <p class="linha"><label class="label-form" for="bairro">Bairro</label>
                <select id="bairro" class="bairro campo-texto" name="bairro">
                    <option value="" selected="selected"></option>
                    {% for bairro in BAIRROS %}
                        <option value="{{ bairro }}">{{ bairro }}</option>
                    {% endfor %}
                </select>
            </p>
            <p class="assinar-linha"><input name="assinar" class="button orange" type="submit" value="Inscreva-se"></p>
            <p class="obrigatorio"><small>*</small> Obrigatório</p>
        </fieldset>
    </form>
</section>
{% endblock%}

{% block js_bottom %}
    <script type="text/javascript" src="/static/index.js"></script>
{% endblock %}
